@model PruebaBackendASEINFO.Models.Producto

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center font-weight-light">@Html.DisplayFor(model => model.Nombre)</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="@("~/Image/"+Model.Imagen)" asp-append-version="true">
    </div>
    <dl class="col-md-6">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class="col-sm-10">
           $ @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class="col-sm-2">
            Categoría
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCategoriaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Marca
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdMarcaNavigation.Nombre)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoNavigation.Nombre)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.IdProducto">Edit</a>*@
    <a asp-action="Index">Regresar al listado</a>
</div>
